<%= div_for postcode do %>
<table border=1>
<tr>
<th>Postcode</th>
<th>Address</th>
<th>City</th>
<th>State</th>
<th>Country</th>
</tr> 

<tr>
<td><%= postcode.pstcode %></td>
<td><%= postcode.address %></td>
<td><%= postcode.city %></td>
<td><%= postcode.state %></td>
<td><%= postcode.country %></td>
<%= link_to 'Edit', edit_postcode_path(postcode), remote: true, class: "edit-postcode-button" %>
<%= link_to 'Delete', postcode, method: :delete, remote: true, class: "delete-postcode-button" %>
</tr>
</table>
<% end %>
